
.blog__post{

    display: flex ;
    width : 100% ;
    align-items: center;

    padding: 10px 25px;
    
}



.blog__container {
 
    background: rgba(255, 255, 255, 0.473);

    width : 90% ;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
    
}


/** bouton ***/



.blog__container a {
  display: flex;
  justify-content: center;
  
    
}


.btn_modifier {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    justify-content: center;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    flex-shrink: 0;
    
}

.btn_modifier:hover {
    box-shadow: rgba(48, 219, 125, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }


.btn_delete {
    background-color: red ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.btn_delete:hover {
    box-shadow: rgba(255, 11, 3, 0.493) 0 1px 30px;
    transition-duration: .1s;
  }






.blog_text{

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


.blog_title{
    color : blue ;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body{

    background-color: #DEE4E7;
   /* background:  url("../assets/austris-augusts-52p1K0d0euM-unsplash.jpg;") ;*/
    
}


/** title -- text ***/

.title {
     color: #4CAF50; 
    text-align: center;
    font-size: 35px;


}


.blog_text {
 
    line-height: 1.5em;
    font-size: 18px;

}



/** spacing ***/

.space {

    padding: 25px 15px;

}



.auteur{

    font-size: 16px;
    color: rgba(0, 0, 0, 0.644)
    ;
}


/** Inpput :  **/


@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {

  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: block;
  justify-content: center;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
display: flex ;

}

.form {

display: flex;
width: 100%;

}



.form1 {

    width: 90%;
    display: flex;
    flex-direction: column;
    
    }


    

.form1 label {

    color: #4CAF50; 

    font-size: 25px;
    
    }

input[type="text"]
{
    background-color: #fff;
    color: #000;
   width:25%;
}


input[type="submit"]
{
    background-color: #4CAF50; 
    color: white;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    outline: 0;
    
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;


}

input[type="submit"]:hover
{
    box-shadow: rgba(48, 219, 125, 0.5) 0 1px 30px;
    transition-duration: .1s;
  


}

/* Login form  https://codepen.io/clln/pen/vYJWLqE */

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    font-family: 'Comfortaa', cursive;
  }
  
  .login_f{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }
  
  .login_f input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
  }
  
  .login_f input:focus {
    background: #dbdbdb;
  }
  
  .login_f button {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    outline: 0;
    background: #4b6cb7;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 25px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  .login_f button:active {
    background: #395591;
  }
  
  .login_f span {
    font-size: 75px;
    color: #4b6cb7;
  }