* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

main {
    margin-top: 50px;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

li + li {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}