* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

main {
    margin-top: 50px;
}

div + div {
    margin-top: 25px;
}

h1 {
    margin: 0;
}

span {
    font-size: 2em;
    margin-left: 25px;
}