.wrapper {
    margin: 50px 50px;
}
.item {
    border: 2px solid rgb(17, 18, 19);
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    color: rgb(21, 22, 23);
    font-family: sans-serif;
    background-color: aliceblue;
}
.item a {
    
    margin: 5px 5px;
    padding: 0 5px;
    background-color:rgb(42, 158, 137);
    color: aliceblue;
}
body {
    background-color:rgb(68, 68, 165);
    color: aliceblue;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
a {
    text-decoration: none;
    color: aliceblue;
    padding: 3px;
    background-color: rgb(42, 158, 137);
    border-radius: 15px;
    margin: auto;
}

.login {
    color: aliceblue;
    margin: auto;
    padding: 30px;
}
.login form {
    margin: auto;
     width: 80px;
     height: 80px;
}
.login input {
    margin: 20px;  
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu  form{
    margin: 0;
}
    
.menu input {
    margin: 10px;    
}

.ajout form{
    display: table;
}
label { display: table-cell; }
input { display: table-cell; }